@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
#landingPage-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #2d20a9, #362071, #6b4075, #ac6ca1);
  background-size: 300% 300%;
  animation: gradient 7s ease infinite;
  height: 100vh;
}

#start-gameBtn {
  margin-bottom: 3em;
  width: 12em;
  height: 3em;
}
.btn {
  border: 2px solid #ffffff;
  border-radius: 0.6em;
  color: #ffffff;
  cursor: pointer;
  font-size: 2em;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-text-stroke: black 2px;
}

#container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
