#wheel {
  background-color: crimson;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  text-align: center;
}

#spinwheel-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
