.setting-page {
  background-color: #f8f9fa;
  padding: 1rem;
  z-index: 2;
  border: black 2px solid;
  margin-top: 15vh;
  margin-right: 1vw;
}
.settingStyle {
  align-items: center;
  height: 100%;
  width: 100%;
}

.settingStyle h1 {
  font-size: 1.5rem;
  margin: 0.25rem;
  text-decoration: black underline solid;
}
.settingStyle button {
  width: 90%;
  margin: 0.5rem;
}
#rulesBtn {
  border-radius: 3px;
  height: 5vh;
  width: 100%;
}
#logoutBtn {
  border-radius: 3px;
  height: 4vh;
  width: 100%;
}
#ruleBtn-back {
  width: 100%;
  border-radius: 3px;
  height: 4vh;
}
#setting-div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 10vw;
}
#setting-icon {
  background-color: #f8f9fa;
  margin-right: 1vw;
  border-radius: 50%;
  height: 5vh;
  width: 2.75vw;
  z-index: 2;
  border: black 2px solid;
}
.settingBtn {
  position: relative;
  display: inline-block;
  box-shadow: 0px 3px 0px 0px darkslategray;
  border: 2px solid black;
  border-radius: 3px;
}
.settingBtn:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}
