.setting-page {
  background-color: #f8f9fa;
  width: 10rem;
  margin: 0.5rem;
  height: max-content;
  padding: 1rem 0;
  border: black 2px solid;
  position: absolute;
  right: 0;
  top: 0;
}
.settingStyle {
  align-items: center;
  height: 100%;
  position: relative;
}

.settingStyle h1 {
  font-size: 1.5rem;
  margin: 0.25rem;
  text-decoration: black underline solid;
}
.settingStyle button {
  width: 75%;
  margin: 0.25rem;
}
#logoutBtn {
  border-radius: 1rem;
  margin-top: 2rem;
}
#ruleBtn-back {
  border-radius: 1rem;
  margin-top: 2rem;
}
#setting-icon {
  margin: 0.7rem;
  background-color: white;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  border: black 2px solid;
  position: absolute;
  right: 0;
  top: 0;
}
