.login {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgb(0, 0, 0, 0.5);
  width: 95vw;
  height: 90vh;
  justify-content: center;
  align-items: center;
}
.login__textBox {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
  color: black;
  -webkit-text-stroke: black 1.5px;
}
.conatiner-login {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 2em;
  border: black 2px solid;
}
.login__btn {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
  border: none;
  color: white;
  background-color: black;
}
.login__google {
  background-color: #4285f4;
}
.login div {
  margin-top: 7px;
}
