.solve {
  z-index: 1;
  width: 100%;
  height: 100vh;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.top-right {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
}
