.solve {
  z-index: 1;
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.85);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.top-right {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
}
.rule-input-solve {
  color: #f8f9fa;
  font-size: 1.5em;
  margin: 0.25rem;
  padding: 0.25rem;
}
#solveInput {
  font-family: "Poppins", sans-serif;
  color: black;
  font-weight: 600;
  font-size: 1.5em;
  width: 20vw;
  height: 4vh;
}
#solveHeader {
  position: absolute;
  top: 0;
  background-color: black;
}
#solve-title {
  color: #f8f9fa;
  font-size: 3em;
  margin: auto;
}

#input-solve-container,
#input-solve-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#solveBtn {
  width: 5rem;
  border-radius: 1rem;
  padding: 0.25rem;
  margin: 0.5rem;
}
#solveBtn-keyboard {
  width: 20%;
  height: 3rem;
  border-radius: 3px;
  margin-top: 1rem;
  background-color: #f8f9fa;
  border: 2px solid black;
  color: black;
  font-size: 1.5em;
}
