#spacer {
  width: 10vw;
  height: 5vw;
}
.dashboard {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dashboard__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #dcdcdc;
  padding: 30px;
}
.dashboard__btn {
  padding: 10px;
  font-size: 18px;
  margin-top: 10px;
  border: none;
  color: white;
  background-color: black;
}
.dashboard div {
  margin-top: 7px;
}
#title-container {
  display: flex;
  justify-content: space-between;
  height: 10vh;
}
#title {
  display: flex;
  margin: auto;
  font-size: 4em;
  color: white;
  -webkit-text-stroke: 2px black;
}
#settingIcon-img {
  width: 2rem;
}
#spinBtn {
  height: 10vw;
}
