.keys {
  width: 3em;
  height: 3em;
  margin: 0 1rem;
  border: 2px solid black;
  background-color: lightgray;
  border-radius: 3px;
  font-size: 1.5em;
}

#keyboard-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.vowel {
  background-color: #2c5f40;
}
.keyboard {
  margin-top: 1rem;
}
.displayNone {
  opacity: 0.5;
  width: 3em;
  height: 3em;
  margin: 0 1rem;
  border: 2px solid black;
  background-color: rgba(0, 0, 0);
  border-radius: 3px;
  font-size: 1.5em;
}
