.keys {
  width: 3em;
  height: 3em;
  margin: 0 1rem;
  border: 2px solid black;
  background-color: #f8f9fa;
  border-radius: 3px;
  font-size: 1.5em;
}

#keyboard-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.vowel {
  background-color: #1ea57a;
}
.keyboard {
  margin-top: 1rem;
}
.displayNone {
  width: 3em;
  height: 3em;
  margin: 0 1rem;
  border: 2px solid black;
  background: transparent;
  border-radius: 3px;
  font-size: 1.5em;
}
