.keys {
  background-color: #f8f9fa;
}

#keyboard-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.vowel {
  background-color: #1ea57a;
  color: #f8f9fa;
  -webkit-text-stroke: 2px black;
}
.keyboard {
  margin-top: 1rem;
}
.displayNone {
  width: 3em;
  height: 3em;
  margin: 0 1rem;
  border: 2px solid black;
  background: transparent;
  border-radius: 3px;
  font-size: 1.5em;
}
#keyboard-solve-bank {
  width: 100vw;
  display: flex;
  justify-content: flex-end;
}
#solve-bank {
  display: flex;
  justify-content: space-between;
}
.spinBtn {
  border-radius: 5px;
  padding: 6px 25px;
  font-size: 2.25em;
  height: 10vh;
  width: 15vw;
  text-decoration: none;
  border: black 2px solid;
  color: #f8f9fa;
  position: relative;
  display: inline-block;
  -webkit-text-stroke: 2px black;
  box-shadow: 0px 5px 0px 0px #245235;
}
.spinBtn:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}
.keysBtn {
  position: relative;
  display: inline-block;
  box-shadow: 0px 5px 0px 0px darkslategray;
  width: 3em;
  height: 3em;
  border: 2px solid black;
  margin: 0 1rem;
  border-radius: 3px;
  font-size: 1.5em;
}
.keysBtn:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}

.green,
.green:hover {
  background-color: #1ea45a;
}
