.keys {
  width: 4rem;
  height: 4rem;
  margin: 0 1rem;
  border: 2px solid black;
  background-color: lightgray;
  border-radius: 3px;
  font-size: 1.5em;
}

#keyboard-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.vowel {
  background-color: white;
}
.keyboard {
  margin-top: 1rem;
}
