#game-board {
  background-color: lightslategray;
}
#board-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
#board {
  display: flex;
}
.visable {
  margin: 0.1rem;
  background-color: white;
  color: black;
  width: 2rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hidden {
  display: none;
}
.tile-border {
  width: 3rem;
  height: 4rem;
  border: 0.5rem solid black;
  background-color: aliceblue;
  margin: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
