#game-board {
  background-color: #2c5f40;
  border: #3cc5f0 5px solid;
}
#board-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
#board {
  display: flex;
}
.visable {
  margin: 0.1rem;
  background-color: white;
  color: black;
  width: 2rem;
  height: 3rem;
  font-size: 2.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hidden {
  display: none;
}

.tile-border {
  width: 3rem;
  height: 4rem;
  border: 0.5rem solid black;
  background-color: white;
  margin: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#phraseType {
  color: white;
  font-size: 2em;
  -webkit-text-stroke: 2px black;
}
.space {
  background-image: url("../Logos/tile.jpg");
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
