@font-face {
  font-family: "wheeloffortune";
  src: url(./Components/Logos/SF\ Fortune\ Wheel.ttf);
}

body {
  font-family: "wheeloffortune", sans-serif;
  background-color: #90e0ef;
}
* {
  font-family: "wheeloffortune", sans-serif;
  letter-spacing: 0.08rem;
}
