@font-face {
  font-family: "wheeloffortune";
  src: url(./Components/Logos/SF\ Fortune\ Wheel.ttf);
}

body {
  font-family: "wheeloffortune", sans-serif;
  background: linear-gradient(0deg, #5fd0e7, #90e0ef, #ade8f4, #caf0f8);
  background-size: 200% 200%;
  animation: gradient 7s ease infinite;
  max-height: 100vh;
  max-width: 100vw;
}
* {
  font-family: "wheeloffortune", sans-serif;
  letter-spacing: 0.08rem;
  cursor: pointer;
}

.header {
  background: linear-gradient(180deg, #245235, #1ea57a);
  border-bottom: black 2px solid;
  height: 10vh;
  max-height: 10vh;
  width: 100%;
}

.gameboard-container {
  max-width: 100vw;
  height: 35vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#spinwheel-container {
  width: 100%;
  height: 50vh;
  max-height: 50vh;
  display: flex;
  justify-content: space-between;
}
#right-div-spin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

#keyboard-container {
  width: 100%;
  height: 40vh;
}
/* #solveBtn-div {
  height: 10vh;
} */
/* used on setting.js */
.column {
  display: flex;
  flex-direction: column;
}
.page {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  max-height: 100vh;
}

#message {
  margin: auto;
  margin-bottom: 0.5rem;
  font-size: 2em;
  height: 5vh;
}

/* Ipad Pro */

/* Ipad */
@media screen and (max-width: 1024px) and (max-height: 768px) {
  #setting-icon {
    align-items: center;
    width: 5vw;
    height: 5vw;
  }
  #solve-title {
    font-size: 2.5em;
  }
  #right-div-spin {
    max-width: 20vw;
    width: 20vw;
    margin-right: 1vw;
  }
  #bank-container {
    height: 12vh;
    width: 20vw;
    margin: 1vw 1vw;
  }
  .spinBtn {
    font-size: 1.75em;
    margin-top: 1vh;
    width: 20vw;
  }
  .displayNone {
    height: 8vh;
    width: 6vw;
    margin: 0 1.5vh;
  }
  .keysBtn {
    height: 8vh;
    width: 6vw;
    margin: 0 1.5vh;
  }
  .tile-border {
    width: 2rem;
    height: 3rem;
  }
  .tile-layout {
    font-size: 0.75em;
  }
  #phraseType {
    font-size: 1.75em;
  }
  #start-gameBtn {
    margin-bottom: 5em;
    width: 10em;
    height: 2em;
    font-size: 1.75em;
  }
  #username {
    font-size: 1em;
  }
  ul {
    margin: 0.5vh 0;
  }
  li {
    font-size: 1.5em;
  }
  .GR {
    font-size: 2.5em;
  }
}

/* Ipad Pro*/
@media screen and (max-width: 1367px) {
  #title {
    font-size: 3.5em;
  }
  #setting-icon {
    width: 4vw;
    height: 4vw;
    align-items: center;
  }
  #settingIcon-img {
    width: 2.25rem;
  }
  .tile-border {
    width: 2.75rem;
    height: 3.75rem;
  }
  .tile-layout {
    font-size: 1.25em;
  }
  #phraseType {
    font-size: 2em;
  }
  #right-div-spin {
    max-width: 20vw;
    width: 20vw;
    margin-right: 1vw;
  }
  #bank-container {
    height: 12vh;
    width: 20vw;
    margin: 1vw 1vw;
  }
  .spinBtn {
    font-size: 1.75em;
    margin-top: 1vh;
    width: 20vw;
  }
  .displayNone {
    height: 7vh;
    width: 5vw;
    margin: 0 1.5vh;
  }
  .keysBtn {
    height: 7vh;
    width: 5vw;
    margin: 0 1.5vh;
  }
  #solve-title {
    font-size: 3.75em;
  }
  #spin-spacer {
    height: 5vh;
  }
  .spinBtn {
    font-size: 1.75em;
    margin-top: 1vh;
    width: 20vw;
  }
  #dollarSign {
    font-size: 3.5em;
  }
  .bank {
    font-size: 3em;
  }
}
