@font-face {
  font-family: "wheeloffortune";
  src: url(./Components/Logos/SF\ Fortune\ Wheel.ttf);
}

body {
  font-family: "wheeloffortune", sans-serif;
  background: linear-gradient(0deg, #5fd0e7, #90e0ef, #ade8f4, #caf0f8);
  background-size: 200% 200%;
  animation: gradient 7s ease infinite;
}
* {
  font-family: "wheeloffortune", sans-serif;
  letter-spacing: 0.08rem;
}

.header {
  background: linear-gradient(180deg, #245235, #1ea57a);
  border-bottom: black 2px solid;
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.gameboard-container {
  height: 40vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#spinwheel-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

#keyboard-container {
  width: 100%;
}

/* used on setting.js */
.column {
  display: flex;
  flex-direction: column;
}
.page {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  max-height: 100vh;
}
