@font-face {
  font-family: "wheeloffortune";
  src: url(./Components/Logos/SF\ Fortune\ Wheel.ttf);
}

body {
  font-family: "wheeloffortune", sans-serif;
  background: linear-gradient(0deg, #5fd0e7, #90e0ef, #ade8f4, #caf0f8);
  background-size: 200% 200%;
  animation: gradient 7s ease infinite;
}
* {
  font-family: "wheeloffortune", sans-serif;
  letter-spacing: 0.08rem;
}

.header {
  background: linear-gradient(180deg, #245235, #1ea57a);
  border-bottom: black 2px solid;
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.gameboard-container {
  height: 40vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#spinwheel-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

#keyboard-container {
  width: 100%;
}

/* used on setting.js */
.column {
  display: flex;
  flex-direction: column;
}
.page {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  max-height: 100vh;
}

.spinBtn {
  border-radius: 5px;
  padding: 6px 25px;
  font-size: 1.5em;
  text-decoration: none;
  margin: 20px;
  color: #fff;
  position: relative;
  display: inline-block;
}
.spinBtn:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}
.green {
  background-color: #1ea45a;
  box-shadow: 0px 5px 0px 0px #245235;
}

.green:hover {
  background-color: #1ea57a;
}
#message {
  margin: auto;
  margin-bottom: 0.5rem;
  font-size: 2em;
  height: 1rem;
}
