@font-face {
  font-family: "wheeloffortune";
  src: url(./Components/Logos/SF\ Fortune\ Wheel.ttf);
}

body {
  font-family: "wheeloffortune", sans-serif;
  background: linear-gradient(180deg, #2d20a9, #362071, #6b4075, #ac6ca1);
  background-size: 300% 300%;
  animation: gradient 7s ease infinite;
}
* {
  font-family: "wheeloffortune", sans-serif;
  letter-spacing: 0.08rem;
}
#dollarSign {
  font-family: "dollar", sans-serif;
}
