.header {
  background-color: crimson;
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.gameboard-container {
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#spinwheel-container {
  width: 100%;
}

#keyboard-container {
  position: relative;
  width: 100%;
}

/* used on setting.js */
.column {
  display: flex;
  flex-direction: column;
}
