.header {
  background-color: crimson;
  border-bottom: black 2px solid;
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.gameboard-container {
  height: 40vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#spinwheel-container {
  width: 100%;
}
canvas {
  width: 100%;
}
#keyboard-container {
  width: 100%;
}

/* used on setting.js */
.column {
  display: flex;
  flex-direction: column;
}
