#bank-container {
  background: linear-gradient(360deg, #ff7b00, #ffa200, #ffb700, #ffdd00);
  bottom: 0;
  border: 0.2rem solid black;
  justify-content: center;
  position: absolute;
  margin: 1rem;
  right: 0;
  width: 15rem;
  height: 10vh;
  max-height: 13vh;
  z-index: 1;
  color: white;
}

#username {
  -webkit-text-stroke: 2px black;
  background-color: #ff7b00;
  border: 2px solid black;
  margin: 0.2rem;
  padding: 0.2rem;
  font-size: 1.25em;
}
.bank {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: auto;
  font-size: 2.5em;
  padding: 0.2rem;
  -webkit-text-stroke: 2px black;
}

#dollarSign {
  font-size: 3em;
  font-weight: 600;
  position: absolute;
  left: 0;
  bottom: 0;
  color: black;
  padding: 0.2rem;
  -webkit-text-stroke: 0.5px white;
}
