#bank-container {
  background-color: cornflowerblue;
  bottom: 0;
  border: 0.2rem solid black;
  justify-content: center;
  position: absolute;
  margin: 1rem;
  right: 0;
  width: 15rem;
  height: 10vh;
}

#username {
  background-color: crimson;
  margin: 0.2rem;
  padding: 0.2rem;
  font-size: 1.5em;
}

#bank {
  background-color: darkgoldenrod;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0.2rem;
  font-size: 1.5em;
  padding: 0.2rem;
}
