#rules-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  max-height: 100vh;
  width: 100vw;
  max-width: 100vw;
  background-color: rgb(222, 226, 230);
}
.center-column {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
#GR {
  font-size: 2em;
  text-decoration: white underline 3px;
}
